body {
	background-color: black !important;
	size: 100%, 100%;
	background-image: url("../images/header.jpg");
	background-size: 50%, 100%;
	background-repeat: no-repeat;
}

.root {
}

#navbar {
	position: fixed;
	width: 100%;
}