body {
	background-color: black !important;
}

#navbar {
	position: fixed;
	margin-top: 0px;
	width: 100%;
	z-index: 80;
}

#custom-table {
	border-radius: 5px; 
	margin: 0px auto; 
	float: none; 
}

#myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
/*
#filterTable {
    border-collapse: collapse;
    width: 100%; 
    border: 1px solid #ddd;
    font-size: 18px; 
}

#filterTable th, #filterTable td {
    text-align: left; 
    padding: 12px;
}

#filterTable tr {
    border-bottom: 1px solid #ddd; 
}

#filterTable tr.header, #filterTable tr:hover {
    background-color: #f1f1f1;
}*/