body {
	background-color: black !important;
}

#navbar {
	position: fixed;
	margin-top: 0px;
	width: 100%;
	z-index: 80;
}

#custom-table {
	width: 80% !important;
	border-radius: 5px; 
	margin: 0px auto; 
	float: none; 
	padding-top: 70px;
}